<div class="center jumbotron">

  <h3>Original Piano App</h3>

  <h2>
    For Teachers and Students
  </h2>
  <h2><% if logged_in? %>
        <%= "こんにちは#{@current_user.name}さん！" %>
      <% else %>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-default" %>
      <% end %>
  </h2>
</div>
