<% provide(:title, "Home") %>
  <head>
    <title><%= yield(:title) %> | Original Piano App</title>
  </head>
  <body>
    <h1>Original Piano Application</h1>
    <p>For the Teacher and the Student</p>
  </body>
