<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
   | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "削除しますか?" } %>

  <% end %>

  <% @currentUserEntry = Entry.where(user_id: current_user.id) %>
  <% @userEntry = Entry.where(user_id: user.id)%>
    <% if user.id == current_user.id %>
    <% else %>
      <% @currentUserEntry.each do |cu| %>
        <% @userEntry.each do |u| %>
          <% if cu.room_id == u.room_id then %>
            <% @isRoom = true %>
            <% @roomId = cu.room_id %>
            <p><a href="/rooms/<%= @roomId %>">メッセージ</a>
          <% end %>
        <% end %>
      <% end %>
      <% if @isRoom %>
      <% else %>
        <% @room = Room.new %>
      <% end %>
    <% end %>
</li>
