<% provide(:title, 'Events') %>

<h1><%= @user.name %>さんのレッスンスケジュール</h1>
<div class="row">
  <div class="col-md-2 col-md-offset-0">
    <%= render 'form' %>
  </div>
  <div class="col-md-10 col-md-offset-0">
    <%= render 'calendar' %>
    <%= render 'table' %>
  </div>
</div>
