<footer class="footer">
  <small>
    This <a href="">application </a>is produced
    by <a>T.I</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><a href="https://hibiclassic.com/news/">Classical Music News</a></li>
    </ul>
  </nav>
</footer>
